
{{#if success}}
<p style="color:green">
   {{success}}
{{/if}}

<div class="container">
<header>
  <link rel="stylesheet" type="text/css" href="/html/profile/tanner.css">
  <div class="navbar">
  <div class="navbar-upper"><h1>Googlegram+</h1></div>
  <div class="navbar-lower">
  <div class="navbar-item first-child"><a href="../">Home</a></div>
  <div class="navbar-item"><a href="../dashboard">Dashboard</a></div>
  <div class="navbar-item"><a href="../profile">Profile</a></div>
  <div class="navbar-item last-child"><a href="../search">Search</a></div>
  </div>
</div>
</header>

<form class="tn-main" action="" method="post">
  <input type ="hidden" name="_id" value="{{user._id}}">
  <h2>{{user}}</h2>
  <img class="tn-image" src="http://www.skyovnis.com/wp-content/uploads/2014/12/Profile-sky-ovnis.jpg" alt="emoji" id="circle" height="140px" width="140px"></img>
  <input class="tn-username" type="text" name="username" value="{{user.username}}" placeholder="Username"></input>
  <input class="tn-name" type="text" name="name" value="{{user.name}}"  placeholder="Full Name"></input>
  <input class="tn-email" type="text" name="email" value="{{user.email}}" size="30" placeholder="Email Address"></input>
  <textarea class="tn-bio" type="textarea" name="bio" value="{{user.bio}}" placeholder="Bio" cols="30" rows="5"></textarea>
  <button class="tn-button" type="submit">SAVE</button>
</form>


<footer>
</footer>
</div>
